.App {
  display: grid;
  height: 100vh;

  grid-template-columns: 1fr 350px;
  grid-template-rows: 50px auto;
  grid-template-areas: 
    "header   header"
    "map      log"
  ;
}

header {
  grid-area: header;
  background: lightblue;
  text-align: center;
}

