.conn_status {
    grid-area: status;
    text-align: center;
    overflow: hidden;
    font-size: 8pt;
}

.conn_status.open {
    background: lightgreen;
}

.conn_status.close {
    background: red;
    color: white;
}