.log {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 1fr 1fr 1fr 25px;
    grid-template-areas: 
        "gps"
        "position"
        "beacon"
        "message"
        "status"
        ;

    overflow-x: hidden;
    overflow-y: hidden;
}

.log > div {
    overflow-y: auto;
}